---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const credits = {
  'Jukan Tateisi': {
    profileUrl:
      'https://unsplash.com/@tateisimikito?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText',
    imgUrl:
      'https://unsplash.com/photos/bJhT_8nbUA0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText',
  },
};

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    imgCredit?: keyof typeof credits;
    imgAlt?: string;
  };
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    imgAlt,
    imgCredit,
  },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .hero-image {
        max-width: 400px;
        height: auto;
        border-radius: 12px;
        display: block;
        margin: 0 0 2rem 0;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <img class="hero-image" src={heroImage} alt={imgAlt} />
          )
        }
        {
          imgCredit && (
            <div>
              Photo by{' '}
              <a target="_blank" href={credits[imgCredit].profileUrl}>
                {imgCredit}
              </a>{' '}
              on{' '}
              <a target="_blank" href={credits[imgCredit].imgUrl}>
                Unsplash
              </a>
            </div>
          )
        }

        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
